{% extends 'base.html' %}
{% block content %}
<div class='container mt-5'>
    <div clss='offset-1 container mx-5'>
        <form method='POST' accion="{% url 'crearAutor' ">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input
                type="text"
                class="form-control"
                name="nombre"
                id="nombre"
                placeholder="nombre"
                required
            />
        </div>
        <div class="mb-4 mt-1">
            <label for="lugar" class="form-label">lugar de nacimiento</label>
            <input
                type="text"
                class="form-control"
                name="lugar"
                id="lugar"
                placeholder="lugar"
                required
            />
        </div>
        <div class="mb-4 mt-1">
            <label for="fecha" class="form-label">fecha de nacimiento</label>
            <input
                type="datetime-local"
                class="form-control"
                name="fecha"
                id="fecha"
                placeholder="fecha"
                required
            />
        </div>
        <input type='submit' class="btn btn-success" value="enviar"/>
        
{% endblock  %}

